<!DOCTYPE html>
<html>
 <head>
    <title>Space Shooters</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js" integrity="sha512-b/htz6gIyFi3dwSoZ0Uv3cuv3Ony7EeKkacgrcVg8CMzu90n777qveu0PBcbZUA7TzyENGtU+qZRuFAkfqgyoQ==" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.png" type="image/png"/>
</head>
<body style="background-color: cadetblue;">
    <h3 id="header" style="text-align: center; color: navy">Welcome to Space Invaders</h3>
    <div style="text-align: center">
        <p style="text-align: center; color: navy;">How to Play</p>
        <ul class="browser-default" style="background-color: cadetblue !important; color: navy; list-style-position: inside;">
            <li>Use Right and Left Arrow Keys to Move Right and Left</li>
            <li>Use Space to Shoot</li>
        </ul>
        <p style="text-align: center; color: navy">Point System:</p>
        <ul class="browser-default" style="background-color: cadetblue !important; color: navy; list-style-position: inside;">
            <li>You win where you reach 50 points</li>
            <li>You loose when you reach 0 points</li>
            <li>When an asteroid crosses the border 15 points are lost</li>
            <li>When an alien crosses the border 5 points are lost</li>
            <li>When an alien bullet hits you 2 point is lost</li>
            <li>When you kill an alien 5 points are gained. Remeber that to kill an alien you need to shoot it twice.</li>
            <li>When you shoot a meteor 2 points are gained</li>
        </ul>
    </div>
     
    <div style="margin: 0 auto; width: 64%" id="p5jscanvas"></div>
    <br>
    <script src="/static/game.js"></script>
</body>
</html>